{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}
{{- $op_vault := "development" -}}
{{- $ssh_public_key := "op://development/personal-machine/public key" -}}
{{- /* Dedicated fine-grained token (public repos only) used solely to raise */ -}}
{{- /* the GitHub API rate limit when resolving externals. Lives in the      */ -}}
{{- /* development vault regardless of machine, matching prior behaviour.     */ -}}
{{- $chezmoi_token := "op://development/chezmoi/credential" -}}

{{- if not $ephemeral -}}
{{-   if has $hostname (list "AREMSTEDT" "luna") -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "PLT5CD331HC4N" -}}
{{-     $personal = false -}}
{{-     $work = true -}}
{{-     $op_vault = "work" -}}
{{-     $ssh_public_key = "op://work/work-machine/public key" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- /* Secrets are only read on non-ephemeral machines, where 1Password (op) */ -}}
{{- /* is available. Ephemeral/one-shot boxes get empty values and skip op    */ -}}
{{- /* entirely so `chezmoi init` no longer hard-fails when op is absent.      */ -}}
{{- $gitEmail := "" -}}
{{- $sshPublicKey := "" -}}
{{- if not $ephemeral -}}
{{-   $gitEmail = onepasswordRead (printf "op://%s/github/email" $op_vault) -}}
{{-   $sshPublicKey = onepasswordRead $ssh_public_key -}}
{{- end -}}

[onepassword]
  command = "op.exe"
  defaultVault = {{ $op_vault | quote }}

[git]
  autoCommit = true
  autoPush = false

[edit]
  command = "nvim"

{{- if not $ephemeral }}
[github]
  token = {{ onepasswordRead $chezmoi_token | quote }}
{{- end }}

[data]
  ephemeral = {{ $ephemeral }}
  work = {{ $work }}
  gitEmail = {{ $gitEmail | quote }}
  sshPublicKey = {{ $sshPublicKey | quote }}
  hostname = {{ $hostname | quote }}
  headless = {{ $headless }}
  personal = {{ $personal }}
  osid = {{ $osID | quote }}
  op = {{ not $ephemeral }}


