#!/usr/bin/env bash
set -euo pipefail

sudo apt update
sudo apt upgrade -y
sudo apt install -y python3 pipx
pipx ensurepath

{{- if eq .chezmoi.hostname "PLT5CD331HC4N" }}
pipx install poetry
sudo apt install -y dotnet-sdk-8.0
poetry self add artifacts-keyring
poetry config installer.parallel false
{{- end }}

pipx install tldr
# vim:ft=sh
