#!/usr/bin/env bash
sudo apt update
sudo apt upgrade
sudo apt install python3 -y

{{- if eq .chezmoi.hostname "PLT5CD331HC4N" }}
sudo apt install pipx
pipx ensurepath
pipx install poetry
sudo apt install -y dotnet-sdk-8.0
poetry self add artifacts-keyring
poetry config installer.parallel false
{{- end }}
