# TMUX-SESSIONIZER CONFIGURATION
# AlexRemstedt
{{- if not .personal }}
TS_SEARCH_PATHS=(~/areas/ ~/resources /mnt/c/soft_dev/NAVAL/)
TS_EXTRA_SEARCH_PATHS=(~/archive:2 ~/proj:2)
{{- else }}
TS_SEARCH_PATHS=(~/areas/ ~/resources)
TS_EXTRA_SEARCH_PATHS=(~/archive:2 ~/proj:2)
{{- end }}

TS_SESSION_COMMANDS=(
  "nvim"
  "lazygit"
  "claude"
  "fdtodo"
)
# vim: ft=conf
