{{- if not .ephemeral -}}
{{-   $arch := .chezmoi.arch -}}
{{-   if eq .chezmoi.arch "amd64" -}}{{- $arch = "x86_64" -}}{{- end -}}
{{-   if eq .chezmoi.arch "arm64" -}}{{- $arch = "aarch64" -}}{{- end }}

[".local/bin/fzf"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" (printf "fzf-*-linux_%s.tar.gz" .chezmoi.arch) | quote }}
executable = true
path = "fzf"
refreshPeriod = "720h"

[".local/bin/eza"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "eza-community/eza" (printf "eza_%s-unknown-linux-gnu.tar.gz" $arch) | quote }}
executable = true
path = "./eza"
refreshPeriod = "720h"

[".local/bin/sheldon"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "rossmacarthur/sheldon" (printf "sheldon-*-%s-unknown-linux-musl.tar.gz" $arch) | quote }}
executable = true
path = "sheldon"
refreshPeriod = "720h"

[".local/bin/starship"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "starship/starship" (printf "starship-%s-unknown-linux-gnu.tar.gz" $arch) | quote }}
executable = true
path = "starship"
refreshPeriod = "720h"

[".local/share/tmux/plugins/tpm"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tpm.git"
refreshPeriod = "168h"

[".local/bin/zoxide"]
url = {{ gitHubLatestReleaseAssetURL "ajeetdsouza/zoxide" (printf "zoxide-*-%s-unknown-linux-musl.tar.gz" $arch) | quote }}
type = "archive-file"
executable = true
path = "zoxide"
refreshPeriod = "720h"

[".local/bin/bob"]
url = {{ gitHubLatestReleaseAssetURL "MordechaiHadad/bob" (printf "bob-linux-%s.zip" $arch) | quote }}
type = "archive-file"
executable = true
path = "bob-linux-x86_64/bob"
refreshPeriod = "721h"

[".local/bin/lazygit"]
url = {{ gitHubLatestReleaseAssetURL "jesseduffield/lazygit" "lazygit_*_linux_x86_64.tar.gz" | quote }}
type = "archive-file"
executable = true
path = "lazygit"
refreshPeriod = "720h"

[".local/bin/uv"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-x86_64-unknown-linux-gnu.tar.gz" | quote }}
refreshPeriod = "72h"
executable = true
path = "uv-x86_64-unknown-linux-gnu/uv"

[".local/bin/fnm"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "Schniz/fnm" "fnm-linux.zip" | quote }}
path = "fnm"
executable = true
refreshPeriod = "72h"

[".local/bin/tmux-sessionizer"]
type = "file"
url = "https://raw.githubusercontent.com/ThePrimeagen/tmux-sessionizer/refs/heads/master/tmux-sessionizer"
refreshPeriod = "168h"
executable = true

[".local/bin/git-flow"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "gittower/git-flow-next" "git-flow-next-*-linux-amd64.tar.gz" | quote}}
path = "git-flow-v1.0.0-linux-amd64"
executable = true
refreshPeriod = "168h"

{{- end }}
