[user]
  name = Remstedt, Alex
  email = {{ .gitEmail }}
  signingkey = {{ .sshPublicKey }}

[gpg]
  format = ssh

{{ if .work }}
[gpg "ssh"]
	program = "/mnt/c/Users/ARem/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe"
{{ else }}
[gpg "ssh"]
  program = "/mnt/c/Users/A. Remstedt/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe"
{{ end }}

[commit]
  gpgsign = true


{{ if .op }}
[core]
  sshCommand = "/mnt/c/Windows/System32/OpenSSH/ssh.exe"
{{ end }}

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  line-numbers = true
  side-by-side = true

[merge]
  conflictStyle = zdiff3

[diff]
  tool = diffsitter
  colorMoved = default

[difftool]
  prompt = false

[difftool "diffsitter"]
  cmd = diffsitter "$LOCAL" "$REMOTE"

[alias]
  cwt = "!sh $HOME/.local/bin/clone-bare-for-worktrees.sh"
  dst = difftool

[push]
  default = simple
  autoSetupRemote = true

[init]
  defaultBranch = main
