[user]
  name = Remstedt, Alex
  email = {{ .gitEmail }}
  signingkey = {{ .sshPublicKey }}

[gpg]
  format = ssh

{{ if .work }}
[gpg "ssh"]
  program = "/mnt/c/Users/ARem/AppData/Local/1Password/app/8/op-ssh-sign"
{{ else }}
[gpg "ssh"]
  program = "/mnt/c/Users/A. Remstedt/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
{{ end }}

[commit]
  gpgsign = true


{{ if .op }}
[core]
  sshCommand = ssh.exe
{{ end }}

[alias]
  cwt = "!sh $HOME/.local/bin/clone-bare-for-worktrees.sh"

[push]
  default = simple
  autoSetupRemote = true

[init]
  defaultBranch = main
